<!DOCTYPE html>
<html>
<title>CST205 Project</title>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">




<body>
    <header class="w3-container w3-teal">
  <h1>Results</h1>
</header>

<div class="w3-col">
  <div class="w3-threequarter w3-container w3-white">
      
      <h2>Black Rot</h2>
      
<img src="static/rot.jpg" alt="Rot" style="width:504px;height:428px;">

  </div>
  <div class="w3-quarter w3-container w3-white">
      <div id="main">
                    <br></br>
                    <h2>Graph Representation:</h2>
                    
                    <p>Black Rot:  {{rot}} %</p>

                    <p>Healthy Leaf:  {{health}} %</p>

                    <p>Other: {{other}} %</p>
                    <br></br>
                    <br></br>
                    <p>Percentage of infection: {{percent}}</p>
                </div>
      
  </div>
  </div>
</body>

    
</html>